APP_NAME=Poputi API
DEBUG=false
APP_DOMAIN=poputi.appline.tw1.ru
APP_BASE_PATH=/app
ADMIN_BASE_PATH=/admin
API_BASE_PATH=/api
GATEWAY_NETWORK=gateway-net
POSTGRES_DB=poputi
POSTGRES_USER=poputi
POSTGRES_PASSWORD=poputi
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
DATABASE_URL=postgresql+psycopg://poputi:poputi@postgres:5432/poputi
CORS_ORIGINS=https://poputi.appline.tw1.ru,http://127.0.0.1:3014,http://localhost:3014,http://127.0.0.1:8014,http://localhost:8014
ADMIN_LOGIN=admin
ADMIN_PASSWORD=admin
JWT_SECRET=change_me
JWT_EXPIRE_HOURS=168
S3_ENDPOINT_URL=
S3_REGION=ru-1
S3_BUCKET=
S3_ACCESS_KEY_ID=
S3_SECRET_ACCESS_KEY=
S3_PUBLIC_BASE_URL=
TBANK_TERMINAL_KEY=
TBANK_TERMINAL_PASSWORD=
TBANK_DEBUG=false
TBANK_NOTIFICATION_URL=https://poputi.appline.tw1.ru/api/public/payments/webhook
TBANK_SUCCESS_URL=https://poputi.appline.tw1.ru/app
TBANK_FAIL_URL=https://poputi.appline.tw1.ru/app
TBANK_MERCHANT_NAME=
TBANK_MERCHANT_ID=
TBANK_TERMINAL_ID=
TBANK_SBP_MERCHANT_ID=
GOOGLE_CLIENT_ID=
GUNICORN_WORKERS=2
GUNICORN_TIMEOUT=120
PAGINATION_MAX_LINES=20
