fastapi==0.115.2
uvicorn[standard]==0.32.0
gunicorn==23.0.0
sqlalchemy==2.0.36
psycopg[binary]==3.2.3
alembic==1.13.3
pydantic==2.9.2
pydantic-settings==2.6.0
python-multipart==0.0.12
python-jose==3.3.0
passlib[bcrypt]==1.7.4
boto3==1.35.54
pillow==11.0.0
httpx==0.27.2
email-validator==2.2.0
